#!/usr/bin/make -f

export DH_VIRTUALENV_INSTALL_ROOT = /usr/lib

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv \
		--install-suffix castmasta \
		--python /usr/bin/python3 \
		--builtin-venv \
		--use-system-packages \
		--preinstall setuptools \
		--preinstall wheel

override_dh_install:
	dh_install
	install -d debian/castmasta/usr/share/castmasta/voices
	install -m 644 debian/voices/en_US-lessac-medium.onnx \
		debian/castmasta/usr/share/castmasta/voices/
	install -m 644 debian/voices/en_US-lessac-medium.onnx.json \
		debian/castmasta/usr/share/castmasta/voices/
	install -d debian/castmasta/usr/lib/castmasta/bin
	install -m 755 scripts/register-bigbrain.sh \
		debian/castmasta/usr/lib/castmasta/bin/register-bigbrain
	install -d -m 750 debian/castmasta/etc/castmasta
	install -m 640 debian/castmasta.env \
		debian/castmasta/etc/castmasta/env

override_dh_strip:
	@echo "Skipping dh_strip (binaries from pip wheels are not strippable)"

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_strip_nondeterminism:
	@echo "Skipping dh_strip_nondeterminism"
